# This file controls what file are to be put on classpath or command line.
#
# Format is as follows:
# Each line contains entry for one JAR file.
# Format of line:
#
#  SUBJECT [ [!] CONDITION [AND|OR] ]*
# 
# where SUBJECT: 
#   ends with ".class" is the Main class to run.
#   ends with ".xml" is a configuration file for the command line
#   ends with "/" is a directory from which to add all jar and zip files. 
#   ends with "/*" is a directory from which to add all unconsidered jar and zip files.
#   ends with "/**" is a directory from which to recursively add all unconsidered jar and zip files.
#   Containing = are used to assign system properties.
#   all other subjects are treated as files to be added to the classpath.
#
# Subjects may include system properties with $(propertyname) syntax. 
#
# Files starting with "/" are considered absolute, all others are relative to
# the home directory.
#
# CONDITION is one of:
#   always
#   never
#   available classname        # true if class on classpath
#   property name              # true of set
#   java OPERATOR version      # java version compared to literal
#   nargs OPERATOR number      # number of command line args compared to literal
#   OPERATOR := one of "<",">","<=",">=","==","!="
#
# CONTITIONS can be combined with AND OR or !, with AND being the assume
# operator for a list of CONDITIONS.
# Classpath operations are evaluated on the fly, so once a class or jar is
# added to the classpath, subsequent available conditions will see that class.
#


$(jetty.class.path)                              always


# Try different settings of jetty.home until the jetty.jar is found.
jetty.home=/opt/zimbra/jetty                     ! exists $(jetty.home)/start.jar

# The main class to run
org.mortbay.xml.XmlConfiguration.class
$(start.class).class

# The default configuration files
$(jetty.home)/etc/jetty.xml                      nargs == 0

# Set the jetty classpath
$(jetty.home)/lib/*                              always

# Set the classpath for the supporting cast               
$(jetty.home)/lib/jsp-2.1/*                      java >= 1.5   
$(jetty.home)/lib/jsp-2.0/*                      ! available org.apache.jasper.servlet.JspServlet                
$(jetty.home)/lib/management/*                  
$(jetty.home)/lib/naming/*                              
$(jetty.home)/lib/plus/*                             
$(jetty.home)/lib/xbean/*                             
$(jetty.home)/lib/grizzly/*                             

# Recursively add all jars and zips from the ext lib
$(jetty.home)/lib/ext/*                         always
#$(jetty.home)/lib/ext-common/**			always

# Zimbra uses a common directory for shared libs (tomcat style)
$(jetty.home)/common/lib/**				always

# Try some standard locations for anything missing.
/usr/share/java/ant.jar                          ! available org.apache.tools.ant.Main

# Add a resources directory if it is there
$(jetty.home)/resources/
