.DS_Store
.classpath
.git
.gitignore
.idea
.phony
.project
.travis.yml
README.md
bin
build-common.xml
build-ivysettings.xml
build.xml
eclipse-ivysettings.xml
pkg-builder.pl
common/build/
!common/build/*.jar
native/build/
!native/build/*.jar
!native/build/*.so
soap/build/
!soap/build/*.jar
client/build/
!client/build/*.jar
store/build/
!store/build/*.jar
!store/build/*.war
!store/build/dist/conf/attrs/zimbra-attrs-schema
store-conf/conf/msgs/ZsMsgRights_ta.properties
store-conf/conf/msgs/ZsMsgRights_no.properties
store-conf/conf/msgs/ZsMsgRights_vi.properties
store-conf/conf/msgs/ZsMsgRights_ca.properties
store-conf/conf/msgs/ZsMsg_ca.properties
store-conf/conf/msgs/ZsMsg_no.properties
store-conf/conf/msgs/ZsMsg_ta.properties
store-conf/conf/msgs/ZsMsg_vi.properties
