grant {     
//grant all code-level permissions
  permission java.lang.RuntimePermission "*";
  permission java.security.SecurityPermission "*";
  permission java.net.NetPermission "*";
  permission javax.management.MBeanServerPermission "*";
  permission javax.management.MBeanPermission "*", "*";
  permission javax.management.MBeanTrustPermission "*";
  permission java.lang.management.ManagementPermission "control";
  permission java.lang.management.ManagementPermission "monitor";
  permission java.util.logging.LoggingPermission "control";
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.net.SocketPermission "*", "accept,resolve,listen,connect";
  permission java.util.PropertyPermission "*", "read,write";
  permission javax.net.ssl.SSLPermission "*"; 

//Jetty internals
  permission java.io.FilePermission "${jetty.base}/-", "read";
  permission java.io.FilePermission "${jetty.base}/work/-", "read,write,delete";
  permission java.io.FilePermission "etc/-", "read";
  permission java.io.FilePermission "null", "read";

//suppress spurious ACE from jetty startup file exists checks
  permission java.io.FilePermission "/usr/share/java/ant.jar", "read"; 
  permission java.io.FilePermission "", "read";

//Java internals
  permission java.io.FilePermission "${java.home}/-", "read";
  permission java.io.FilePermission "${java.io.tmpdir}/-", "read,write,delete";
//Mac Java install needs a bunch of possible paths; these are checked by JSP compiler and may or may not really exist but ACE will be fatal
  permission java.io.FilePermission "/Library/Java/-", "read";
  permission java.io.FilePermission "/System/Library/Java/-", "read";
  permission java.io.FilePermission "/System/Library/Frameworks/JavaVM.framework/-", "read";
  permission java.io.FilePermission "/Users/-", "read";
    
//Zimbra internals
  permission java.io.FilePermission "${zimbra.home}/conf/-", "read";
  permission java.io.FilePermission "${zimbra.home}/-", "read";
  permission java.io.FilePermission "im/-", "read"; //IM module in HELIX

//Zimbra data
  permission java.io.FilePermission "${zimbra.home}/log", "read,write,delete";
  permission java.io.FilePermission "${zimbra.home}/log/-", "read,write,delete";
  permission java.io.FilePermission "${zimbra.home}/zmstat", "read, write, delete";
  permission java.io.FilePermission "${zimbra.home}/zmstat/-", "read, write, delete";
  permission java.io.FilePermission "${zimbra.home}/store", "read, write, delete";
  permission java.io.FilePermission "${zimbra.home}/store/-", "read, write, delete";
  permission java.io.FilePermission "${zimbra.home}/index", "read, write, delete";
  permission java.io.FilePermission "${zimbra.home}/index/-", "read, write, delete";
  permission java.io.FilePermission "${zimbra.home}/data", "read, write, delete";
  permission java.io.FilePermission "${zimbra.home}/data/-", "read, write, delete";
  permission java.io.FilePermission "${zimbra.home}/redolog", "read, write, delete";
  permission java.io.FilePermission "${zimbra.home}/redolog/-", "read, write, delete";
  permission java.io.FilePermission "${zimbra.home}/zimlets-deployed/-", "read, write, delete";

};
