P, TH, TD, DIV, SPAN, SELECT, INPUT, TEXTAREA, BUTTON {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
}

TABLE { width:100%; margin: 0; }

BODY {
 margin: 0px;
 background-color: #bed8ee;
}

FORM {
 margin: 0;
 padding: 0;
}

HTML>BODY INPUT {		/* clean border that works in FF */
 border:1px solid;
 border-color: black AAAAAA AAAAAA black;
}

#ZLoginPanel {
    padding:3px; 
    border:2px solid; 
    border-color:#8597a7 #72828f #72828f #8597a7;
	background-color: #abc2d6;	
	width:500px;
}

#ZLoginAppName {
	margin-top:5px;
	width:100%;
	text-align:right;
	font-size: 18px;
	font-weight: bold;
}

#ZLoginBodyContainer {
	padding:4px; border:2px solid; 
	border-color:#5f6c77 #8597a7 #8597a7 #5f6c77;
	background-color: #eff5fb;
	padding-top:20px;
}

#ZLoginFormPanel {
	position:relative;
	left:10%;
	width:80%;
}

/* Field label (right-aligned) */
.zLoginLabelContainer {
	color:black;
    white-space:nowrap; overflow:hidden;
	text-align:right;
	width:80px;
}

/* Field <input> element */
.zLoginField {
	width:100%;
    padding:2 4 2 4; 	
}
/* Field label (left-aligned) */
.zLoginCheckboxLabelContainer {
	color: black;
	white-space: nowrap;
	overflow: hidden;
}

.zLoginButton {
    padding:3px; 
    border:2px solid; 
    border-color:#8597a7 #72828f #72828f #8597a7;
	background-color: #abc2d6;	
	width: 10em;
}

#ZLoginLicenseContainer {
	padding-top:20px;
	padding-bottom:5px;
	text-align:center;
	vertical-align:bottom;
	color: #727054;
	font-size:9px;
}

.TabFiller {
padding:5px; 
border: none;
}

.TabSpacer {
padding:5px; 
width: 5px;
border: none;
}

.Tab {
 width: 8em;
 text-align: center;
 vertical-align: middle;
 font-weight:bold;
 border: 1px solid;
}

.Tab.Normal {
 background-color: #bed8ee;
 background-color:#eff5fb;
 border-color: #E0E0E0 #555555 #555555 #E0E0E0;
}

.Tab.Selected {
 background-color: #a2b8ca;
 border-color: #E0E0E0 #555555  #a2b8ca #E0E0E0;
}

.Tree {
/*    background-color:#eff5fb;*/
	border: none;
 border: 1px solid;
 border-color: #E0E0E0 #555555 #555555 #E0E0E0;   
}

.List TD {border-bottom:1px solid #bbb; padding: 0; }
.Tree TD { padding-left: 10px; padding-top: 2px; padding-bottom: 2px;    background-color:#eff5fb;}

.Tree TH,.List TH {
	text-align: left;
    background-color: #abc2d6;	
	/*background-color:#a2b8ca;*/
	font-weight:bold;
	height:18px;
	padding-right:5px;
	border: 1px solid;
/*	border-bottom-color: #56616b;*/
	border-color: #E0E0E0 56616b 56616b #E0E0E0;
/*	border-color: #E0E0E0 #555555 #555555 #E0E0E0;	*/
	padding-top:1px;
	padding-left:10px;
	cursor: default;
}

.List {
background-color: #F7F7F7;
padding:0px; 
border: 1px solid;
border-color: #E0E0E0 #555555 #555555 #E0E0E0;
}

.List a:hover, .Tree a:hover, .Tab a:hover {	
	color: black;
    text-decoration: underline; 
}

.List a:link, .List a:visited, .Tree a:link, .Tree a:visited, .Tab a:link, .Tab a:visited  {
	color: black;
	text-decoration: none;
}

.Left { width: 150px; padding:0px 0px 0px 10px; }
.Right { padding:0px 10px 0px 10px; }

/* .Tree a:hover {	display:block; background-color:#EAF5F5; } */
/* .Tree .Selected a:hover {}*/

.RightTbTop {
background-color: #98adbe;
padding:5px; 
border: 1px solid;
border-color: #98adbe #555555 #555555 #E0E0E0;
}

.RightTbBottom {
background-color: #98adbe;
padding:5px; 
border: 1px solid;
border-color: #E0E0E0 #555555 #555555 #E0E0E0;
}

.TbBt A {
padding: 0px 10px 0px 10px;
border-right: 1px solid #0C0C0C;
color: black;
text-decoration: none;
}

.Tb IMG { vertical-align: middle; }

.Tb SPAN { vertical-align: middle; font-weight: bold; }

.Unread {	font-weight:bold; }
.RowSelected { background-color: #fdf8ba; }


.Folder { padding-bottom: 2px;  }
.Folder IMG, .Tab IMG { border: none; vertical-align: middle; }
.Folder SPAN, .Tab SPAN { vertical-align: middle; padding-left: 3px; }
.Folder.Selected { background-color: #DDDDDD; }

.MsgHdr TABLE {
background-color: #abc2d6;	
padding:5px; 
border: 1px solid;
border-color: #E0E0E0 #555555 #555555 #E0E0E0;
}

.Msg {
padding:0px; 
border: 1px solid;
border-color: #E0E0E0 #555555 #555555 #E0E0E0;
}

.MsgHdrName {
  padding: 3px 0px 3px 0px;
  vertical-align: top;
  text-align: right;
}

.MsgHdrValue {
  padding: 3px 3px 3px 3px;
  vertical-align: top;
  overflow: hidden;
}

.MsgHdrSub {
  font-size: 15px;
  font-weight:bold;  
}

.MsgBody {
 background-color: #FFFFFF;
 font-family:monospace;
 font-size:13px;
 padding: 10px;
}

.Fragment { 
	color: gray; 
	font-weight: normal; 
}


/* Container for big display of one contact  */
.ZmContactInfoView {
        background-color:#eff5fb;
        padding:5px;    
        border:2px solid; 
        border-color:#8597a7;
        -moz-border-left-colors:#8597a7 #5f6c77;      -moz-border-top-colors: #8597a7 #5f6c77;
   -moz-border-bottom-colors: #abc2d6 #8597a7;             -moz-border-right-colors: #abc2d6 #8597a7;
        overflow: hidden;
}

.contactLabel {
        color: black;  white-space:nowrap; overflow:hidden;
        width: 1%;
        text-align: right;
}

.sectionLabel {
        color: black;  white-space:nowrap; overflow:hidden; border-bottom: 1px solid #8597a7; font-size:15px; font-weight:bold;
}

.companyName {
        font-size:15px; font-weight:bold;
}

.companyFolder {
        font-size:13px;
        white-space:nowrap; overflow:hidden;
        width: 1%;
}

.contactHeaderRow {
        background-color:#E9E9E9; /* TODO: dynamic based on folder */
        height:36px;
}

.contactHeader {
        font-size:18px; 
        font-weight:bold;
        color: black;
        white-space:nowrap; overflow:hidden;
        padding: 3 0 3 2;
}

.searchField {
       color: black;                   background-color:white; 
       padding:2 4 2 4; 
       border:1px solid; 
       border-color:black #abc2d6 #abc2d6 black;
       height:20px;
}

.NoResults { 
	text-align: center;
    background-color:#eff5fb;	
	padding: 20px 0px 20px 0px;
	font-weight: bold;
}