P, TH, TD, DIV, SPAN, SELECT, INPUT, TEXTAREA, BUTTON {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
}

TABLE { width:100%; margin: 0; }
TABLE TD { padding: 0; border-width: 0; border:none;}

BODY {
 margin: 0px;
 background-color: #bed8ee;
}

FORM {
 margin: 0;
 padding: 0;
}

HTML>BODY INPUT {		/* clean border that works in FF */
 border:1px solid;
 border-color: black AAAAAA AAAAAA black;
}

.Top {
background-color:#bed8ee; /* #a2b8ca;*/
border-bottom:1px solid black;
}

.Tabs {
background-color: #a2b8ca; /*#C7C7C7;*/
}

.TabFiller {
margin: 10px 10px 0px 10px;
padding:5px; 
border: 1px solid;
border-color: #E0E0E0 #555555 #555555 #E0E0E0;  
}

.Tab {
width: 10em;
text-align: center;
font-weight:bold;
margin: 10px 10px 0px 10px;
padding:5px; 
border: 1px solid;
border-color: #E0E0E0 #555555 #555555 #E0E0E0;  
}

.TabSelected {
width: 10em;
text-align: center;
font-weight:bold;
background-color: #bed8ee;
margin: 10px 10px 0px 10px;
padding:5px; 
border: 1px solid;
border-color: #E0E0E0 #555555 #bed8ee #E0E0E0;
}

.Tree {
	background-color: #F7F7F7;
	margin: 10px 0px 10px 10px;
	border: 1px solid;
	border-color: #E0E0E0 #555555 #555555 #E0E0E0;
}

.Tree TABLE { margin: 2px; }

.List TD {border-bottom:1px solid #bbb; padding: 0; }
.Tree TD { padding-left: 10px; }

.Tree TH,.List TH {
	text-align: left;
    background-color: #abc2d6;	
	/*background-color:#a2b8ca;*/
	font-weight:bold;
	height:18px;
	padding-right:5px;
	border: 1px solid;
/*	border-bottom-color: #56616b;*/
	border-color: #E0E0E0 56616b 56616b #E0E0E0;
/*	border-color: #E0E0E0 #555555 #555555 #E0E0E0;	*/
	padding-top:1px;
	padding-left:2px;
	margin-left:2px;
	margin-bottom:2px;
	cursor: default;
}

.List {
background-color: #F7F7F7;
margin: 0px 10px 0px 10px;
/*margin: 5px 10px 5px 10px;*/
padding:0px; 
border: 1px solid;
border-color: #E0E0E0 #555555 #555555 #E0E0E0;
}

.List a:hover, .Tree a:hover, .Tab a:hover, .TabSelected a:hover {	
	color: black;
    text-decoration: underline; 
}

.List a:link, .List a:visited, .Tree a:link, .Tree a:visited, .Tab a:link, .Tab a:visited, .TabSelected a:link, .TabSelected a:visited  {
	color: black;
	text-decoration: none;
}



/* .Tree a:hover {	display:block; background-color:#EAF5F5; } */
/* .Tree .Selected a:hover {}*/

.RightTbTop {
background-color: #98adbe;
margin: 10px 10px 0px 10px;
padding:5px; 
border: 1px solid;
border-color: #E0E0E0 #555555 #555555 #E0E0E0;
}

.RightTbBottom {
background-color: #98adbe;
margin: 0px 10px 0px 10px;
padding:5px; 
border: 1px solid;
border-color: #E0E0E0 #555555 #555555 #E0E0E0;
}

.TbBt A {
padding: 0px 10px 0px 10px;
border-right: 1px solid #0C0C0C;
color: black;
text-decoration: none;
}

.Tb IMG { vertical-align: middle; }
.Tb SPAN { vertical-align: middle; font-weight: bold; }

.Unread {	font-weight:bold; }
.RowSelected { background-color: #fdf8ba; }

.TreeSelected { background-color: #DDDDDD; }

.MsgHdr TABLE {
background-color: background-color: #abc2d6;	
margin: 5px 0px 0px 0px;
/*margin: 5px 0px 5px 0px;*/
padding:5px; 
border: 1px solid;
border-color: #E0E0E0 #555555 #555555 #E0E0E0;
}

.Msg {
margin: 0px 10px 5px 10px;
padding:0px; 
border: 1px solid;
border-color: #E0E0E0 #555555 #555555 #E0E0E0;
}

.MsgHdrName {
  padding: 3px 0px 3px 0px;
  vertical-align: top;
  text-align: right;
}

.MsgHdrValue {
  padding: 3px 3px 3px 3px;
  vertical-align: top;
}

.MsgHdrSub {
  font-size: 15px;
  font-weight:bold;  
}

.MsgBody {
 background-color: #FFFFFF;
 font-family:monospace;
 font-size:13px;
 padding: 10px;
}

.Fragment { 
	color: gray; 
	font-weight: normal; 
}


/* Container for big display of one contact  */
.ZmContactInfoView {
        background-color:#eff5fb;
        padding:5px;    
        border:2px solid; 
        border-color:#8597a7;
        -moz-border-left-colors:#8597a7 #5f6c77;      -moz-border-top-colors: #8597a7 #5f6c77;
   -moz-border-bottom-colors: #abc2d6 #8597a7;             -moz-border-right-colors: #abc2d6 #8597a7;
        overflow: hidden;
margin: 5px 10px 5px 10px;

}

.contactLabel {
        color: black;  white-space:nowrap; overflow:hidden;
        width: 1%;
        text-align: right;
}

.sectionLabel {
        color: black;  white-space:nowrap; overflow:hidden; border-bottom: 1px solid #8597a7; font-size:15px; font-weight:bold;
}

.companyName {
        font-size:15px; font-weight:bold;
}

.companyFolder {
        font-size:13px;
        white-space:nowrap; overflow:hidden;
        width: 1%;
}

.contactHeaderRow {
        background-color:#E9E9E9; /* TODO: dynamic based on folder */
        height:36px;
}

.contactHeader {
        font-size:18px; 
        font-weight:bold;
        color: black;
        white-space:nowrap; overflow:hidden;
        padding: 3 0 3 2;
}

